:host {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.hand {
    cursor: pointer;
}
.elapsed {
    position: absolute;
    right: 10px;
    font-size: 15px;
    font-weight: normal;
}
